h1 {
  text-align: center;
}

#login {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.login_page {
  text-align: center;
}

.approved {
  background: lightgreen;
}

.not_approved {
  background: pink;
}

table, td, th {
  border: 2px solid black;
  text-align: center;
}

.event_ranks {
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}
