body {
    padding-bottom: 2em;
}

#home {
    display: block;
    margin-top: 15%;
}

h1 {
    text-align: center;
}

tr {
    height: auto;
}

.event_ranks {
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    /* negative value of footer height */
    bottom: 0;
}

#home {
    top: 50%;
    left: 50;
}
