{% extends "ranker/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block body_block %}
  <h1>Login</h1>
  {% if message %}
    {{ message }}
  {% endif %}
  <div class="container form-control" style="width:300px">
  <form method="POST" action="{% url 'ranker:login' %}">
    {% csrf_token %}
    <p>
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username" placeholder="Enter given username">
    </p>
    <p>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" placeholder="Enter given password">
    </p>
    <p>
    <input class="btn btn-primary" type="submit" value="Login">
    </p>
  </form>
  </div>
{% endblock %}
